#contLogIn {
  display: none;
  max-width: 400px;
}

#contRegister {
  display: none;
  max-width: 700px;
}

#contAddFilm {
  display: none;
  max-width: 600px;
}

#contListMembre {
  max-width: 1000px;
}

#contListPanier {
  max-width: 800px;
}

/* .description {
   overflow: hidden;
  height: 200px; 
} */

.card:hover {
  border-color: red;
  /* height: 600px; */
  cursor: pointer;
}

p.card-text {
  text-align: center;
  margin-top: 20px;
}

.card-title {
  text-align: center;
}

.topnav a:hover {
  /* background-color:rgb(153, 0, 0); */
  color: white;
}

#myNav {
  padding: 0%;
  /* background-color: #dc3545 !important; */
  text-align: center;
}

#myNav .logo {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0%;
}

.navItemRight {
  margin-left: auto;
  margin-right: 15px;
}

#btnConnecter {
  width: 100%;
}

#btnEnregistrer {
  width: 100%;
}

#btnAjouterFilm {
  width: 100%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
#btnAddFilm {
  width: 100%;
}

#btnAnnulerAddFilm{
  width: 100%;
}

#btnRetour{
  float: 50%;
}

#btnRetourPanier {
  width: 18%;

}

#btnPayPanier{
  width: 18%;
  float: right;
}

#btnRetour2{
  width: 30%;
  margin-right: auto;

  
}

.btnConnection {
  line-height: 0.8;
}

.btnConnection:hover {
  color: black!important;
}

.btnCard {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.posToast{
	position:absolute;
	top:5%;
	left:40%;
}

#footerText{
  color: rgb(201, 3, 3);
  text-align: right;
}

#logInText {
  color:white;
}